::placeholder{
  font-family: "Gabriola", Times, serif;
  color: white;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #7D8597;;
  color: black;
  text-align: center;
}


.todoList{
  min-width: 30%;
  list-style: none;
}

.todo{
  margin: 1rem;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  color:white;
  background-color: #002855;
  border-radius: 6rem;
  margin-bottom: 1rem;
}

.todo li{
  flex: 1;
}

h2{
  font-family: "Gabriola", Times, serif;
  padding-top: 30px;
  color: black;
  font-size: 2.5rem;
  font-weight: 300;
}

h1{
  font-family: "Gabriola", Times, serif;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 3.5rem;
  font-weight: 300;
  color: black;
}

header , h1 {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

input , button{
appearance: none;
border: none;
outline: none;
background: none;
}

.todoInput{
  font-family: "Gabriola", Times, serif;
  background-color: #0466C8;
  padding: 1rem;
  border-radius: 6rem;
  margin-right: 1rem;
  flex: 110%;
  font-size: 1.5rem;
  color: white;
}

.todoButton{
  font-family: "Gabriola", Times, serif;
  border: 2px;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #7D8597, #0466C8);
  -webkit-background-clip: text;
  cursor: pointer;
  transition: 0.4s;
}

.todoButton:hover{
  opacity: 0.4;
}
 .todoButton:active{
   opacity: 0.6;
 }

 .todoContainer {
   flex: 110%;
   max-width: 800px;
   width: 100%;
   margin: 0 auto;
 }

 .todoList{
   padding: 1rem;
 }

 .deleteButton{
   background-image: linear-gradient(to right, crimson, #0466C8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
 }

.deleteButton:hover{
  opacity: 0.4;
}

.todoItem{
  font-size: 1.5rem;
  font-family: "Gabriola", Times, serif;
  padding: 0.5rem 1rem;
}
